@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff2);
    font-weight: 900;
    font-display: swap;
}

* {
  font-family: 'NanumSquareNeo';
}